:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-white: #ffffff;
  --bg-color-grey: #eeeff1;
  --font-size: 16px;
  --font-primary: 'Roboto', sans-serif;
  --container-main: 1150px;
  --container-small: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --letter-spacing: 0.1em;
  --line-height-lg: 1.625;
  --line-height-sm: 1.2;


}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
  font-weight: 400;
  font-family: var(--font-primary);

}

a {
  text-decoration: none;

}

.container {
  max-width: var(--container-main);
  padding: 0 var(--gap);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  padding: 70px 0 141px;
  background-color: var(--bg-color-grey);
}

.header-navbar {
  margin-bottom: 138px;
}

.header-navbar__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  margin-left: calc(0px - var(--gap-sm));
}

.header-navbar__link {
  letter-spacing: var(--letter-spacing);
  color: var(--color-black);
  padding: var(--gap-sm);
  display: block;
}

.header-navbar__link--active {
  font-weight: 500;
  color: var(--color-primary);
}

.header-content {
  max-width: var(--container-small);

}

.header-content__title {
  font-weight: 500;
  font-size: 48px;
  line-height: var(--line-height-lg);
  margin-bottom: 0 0 35px;
  color: #000000;

}

.header-content__description {
  color: var(--color-secondary);
  margin-bottom: 56px;
  line-height: var(--line-height-lg);

}

.header-content__link {
  display: flex;
  align-items: center;
  width: 225px;
  height: 65px;
  justify-content: center;
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  color: var(--color-white);
  padding: 0.5em 1em;
  background-color: var(--color-primary);
}



.main {
}

.section {
}

.section__title {
font-weight: 500;
font-size: 32px;
line-height: var(--line-height-sm);
text-align: center;
}

.section__description {
line-height: var(--line-height-lg);
text-align: center;
color: var(--color-secondary);

}

.about {
}

.about__title {
}

.about__discription {
}


.experience {
  background-color: #34547a;
}

.experience-item {
}

.experience-item__description {
}











.container {
}
.visually-hidden {
}


.experience-item__title {
}
.experience-item__text {
}
.experience-item__image {
}
.process {
}

.process__content {
}
.process__title {
}
.section__title {
}
.process__description {
}

.process__video {
}
.footer {
}
.footer__name {
}
.footer__copyright {
}



.section {
}
.container {
}


.section__description {
}